<table>
  <tr>
    <th>CHANGE</th>
    <th>RESOURCE</th>
  </tr>{{ range $change, $resources := .ResourceChanges }}{{ $length := len $resources }}{{ if gt $length 0 }}
  <tr>
    <td>{{ $change }}</td>
    <td>
      <ul>{{ range $i, $r := $resources }}{{ if eq $change "moved" }}
        <li><code>{{ $r.PreviousAddress }}</code> to <code>{{ $r.Address }}</code></li>{{ else }}
        <li><code>{{ $r.Address }}</code></li>{{ end }}{{ end }}
      </ul>
    </td>
  </tr>{{ end }}{{ end }}
</table>
