name: CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Run Gosec Security Scanner
        uses: securego/gosec@master
        with:
          args: -exclude=G204 ./...

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: go.mod

      - name: Linter
        uses: docker://morphy/revive-action:v2

      - name: Test
        run: go test -v ./...

      - name: Build
        run: go build
